#loader_container {
  --background: #62abff;
  --front-color: #4f29f0;
  --back-color: #c3c8de;
  --text-color: #414856;
  width: 64px;
  height: 64px;
  border-radius: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15rem;
}

#loader_container svg {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader_container svg circle {
  position: absolute;
  fill: none;
  stroke-width: 6px;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: rotate(-100deg);
  transform-origin: center;
}

#loader_container svg circle.back {
  stroke: var(--back-color);
}

#loader_container svg circle.front {
  stroke: var(--front-color);
}

#loader_container svg.circle_outer {
  height: 86px;
  width: 86px;
}

#loader_container svg.circle_outer circle {
  stroke-dasharray: 62.75 188.25;
}

#loader_container svg.circle_outer circle.back {
  animation: circle_outer135 1.8s ease infinite 0.3s;
}

#loader_container svg.circle_outer circle.front {
  animation: circle_outer135 1.8s ease infinite 0.15s;
}

#loader_container svg.circle_middle {
  height: 60px;
  width: 60px;
}

#loader_container svg.circle_middle circle {
  stroke-dasharray: 42.5 127.5;
}

#loader_container svg.circle_middle circle.back {
  animation: circle_middle6123 1.8s ease infinite 0.25s;
}

#loader_container svg.circle_middle circle.front {
  animation: circle_middle6123 1.8s ease infinite 0.1s;
}

#loader_container svg.circle_inner {
  height: 34px;
  width: 34px;
}

#loader_container svg.circle_inner circle {
  stroke-dasharray: 22 66;
}

#loader_container svg.circle_inner circle.back {
  animation: circle_inner162 1.8s ease infinite 0.2s;
}

#loader_container svg.circle_inner circle.front {
  animation: circle_inner162 1.8s ease infinite 0.05s;
}

#loader_container .text {
  position: absolute;
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: lowercase;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2px;
}

#loader_container .text::before, #loader_container .text::after {
  content: attr(data-text);
}

#loader_container .text::before {
  color: var(--text-color);
}

#loader_container .text::after {
  color: var(--front-color);
  animation: text-animation76 3.6s ease infinite;
  position: absolute;
  left: 0;
}

@keyframes circle_outer135 {
  0% {
    stroke-dashoffset: 25;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 301;
  }

  80% {
    stroke-dashoffset: 276;
  }

  100% {
    stroke-dashoffset: 276;
  }
}

@keyframes circle_middle6123 {
  0% {
    stroke-dashoffset: 17;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 204;
  }

  80% {
    stroke-dashoffset: 187;
  }

  100% {
    stroke-dashoffset: 187;
  }
}

@keyframes circle_inner162 {
  0% {
    stroke-dashoffset: 9;
  }

  25% {
    stroke-dashoffset: 0;
  }

  65% {
    stroke-dashoffset: 106;
  }

  80% {
    stroke-dashoffset: 97;
  }

  100% {
    stroke-dashoffset: 97;
  }
}

@keyframes text-animation76 {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  50% {
    clip-path: inset(0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}